<div ng-controller="loginController" style="margin-top: 25%; margin-left: 25%">
	<form id="loginForm" role="form">
		<div class="col-sm-12 col-md-offset-3 col-md-6">
			<div class="row">
				<div class="form-group row">
					<div class="col-md-6">
						<input type="mail" class="form-control" name="mail" id="login" placeholder=" {{ placeholderLogin }} " ng-model="logIn.id" autocomplete="off" required>
					</div>
					<span class="col-md-3" ng-show="attentionMail" class="label label-danger">{{ attentionMail }}</span>
				</div>

				<div class="form-group row">
					<div class="col-md-6">
						<input type="password" class="form-control" name="password" id="password" placeholder=" {{ placeholderPassword }} " ng-model="logIn.password" autocomplete="off" required>
					</div>
					<span class="col-md-3" ng-show="attentionPassword" class="label label-danger">{{ attentionPassword }}</span>
				</div>

				<button class="btn btn-success" type="submit" ng-click="submitForm()">
					<span class="glyphicon glyphicon-upload"></span> Submit
				</button>

			</div>
		</div>
	</form>
	<div class="col-sm-12 col-md-offset-3 col-md-6">
		<div class="col-md-">
			<textarea id="submitDebugText">{{logIn.back | json}}</textarea><br />
		</div>
	</div>
</div>