<ng-include
   src="'partials/header.html'"
   >
</ng-include>

<div class="container">
	<div id="form_sample"  style="margin-top:5%; margin-left:20%">
		<form  name="signUpForm"  novalidate>
			<div class="col-sm-15 col-md-offset-3 col-md-6 col-xs-12">
				<div class="row">
					<h1>Add a new recipe</h1>

					<div class="form-group row">
						<div class="col-xs-10 col-sm-12">
							<h3><input type="text" class="form-control" name="recipename" ng-model="addrecipe.recipename" placeholder="{{ recipename }}" autocomplete="off" required></h3>
						</div>
					</div>

					<div class="form-group row">
						<div class="col-xs-10 col-sm-12">
							<h3><input type="text" class="form-control" name="tag" ng-model="addrecipe.tag" placeholder="{{ tag }}" autocomplete="off" required></h3>
						</div>
					</div>

					<div class="form-group row">
						<div class="col-xs-6">
							<div class="controls">                     
								<textarea rows="4" cols="45" style="text-align:center" maxlength="1500" placeholder="{{ description }}" ng-minLength="1" ng-model="addrecipe.description" autocomplete="off" required></textarea>
							</div>
						</div>
					</div>

					

					<!-- INGREDIENTS part -->
					<div ng-repeat="i in ingredients" class="form-group row">

                                          <div class="col-xs-4">
                                            <input type="text" class="form-control" name="ingredientSearch" ng-model="ingredients[$index].query" placeholder="Search ingredient" autocomplete="off" required>
                                          </div>

					  <div class="col-xs-1">
					    <img src="img/glyphicons/glyphicons-366-restart.png" width="15" height="15" ng-click="refresh_ingredients_choices($index)"/>
					  </div>

                                          <div class="col-xs-2 dropdown">
					    <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
					      {{i.name}}
					      <span class="caret"></span>
					    </button>
					    <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
					      <li role="presentation" ng-repeat="i2 in i.choices">
						<a role="menuitem" ng-click="select_ingredient(i, i2)">{{i2.name}}</a>
					      </li>
					    </ul>
                                          </div>

                                          <div class="col-xs-3">
                                            <input type="text" class="form-control" name="Quantity" ng-model="ingredients[$index].quantity" placeholder="Quantity" autocomplete="off" required>
                                          </div>

					  <div class="btn-group" role="group" aria-label="...">
					    <button ng-show="$index != 0" type="button" class="btn btn-default" aria-label="..." ng-click="del_ingredient($index)">-</button>
					    <button ng-show="$last" type="button" class="btn btn-default" aria-label="..." ng-click="add_ingredient()">+</button>
					  </div>
                                        </div>



					<!-- TOOLS part -->
					<div ng-repeat="i in tools" class="form-group row">
                                          <div class="col-xs-5">
                                            <input type="text" class="form-control" name="toolSearch" ng-model="tools[$index].query" placeholder="Search tool" autocomplete="off" required>
                                          </div>
					  <div class="col-xs-1">
					    <img src="img/glyphicons/glyphicons-366-restart.png" width="15" height="15" ng-click="refresh_tools_choices($index)"/>
					  </div>
                                          <div class="col-xs-4 dropdown">
					    <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
					      {{i.name}}
					      <span class="caret"></span>
					    </button>
					    <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
					      <li role="presentation" ng-repeat="i2 in i.choices">
						<a role="menuitem" ng-click="select_tool(i, i2)">{{i2.name}}</a>
					      </li>
					    </ul>
                                          </div>
					  <div class="btn-group" role="group" aria-label="...">
					    <button ng-show="$index != 0" type="button" class="btn btn-default" aria-label="..." ng-click="del_tool($index)">-</button>
					    <button ng-show="$last" type="button" class="btn btn-default" aria-label="..." ng-click="add_tool()">+</button>
					  </div>
                                        </div>




					<div class="form-group row">
						<div class="col-xs-10 col-sm-12">
							<input type="text" class="form-control" name="product" ng-model="addrecipe.product" placeholder="{{ products }}" autocomplete="off" required>
						</div>
					</div>




					<div class="col-xs-15">	
					  <h2>Steps</h2>
				

	  
					  <div class="form-group row" ng-repeat="s in steps">
					    
					    <div class="col-xs-9">
					      <input type="text" class="form-control" name="name" ng-model="steps[$index].name" placeholder="{{ stepname }}" autocomplete="off" required>
					    </div>
					    
					    <div class="col-xs-3">
					      <input type="text" class="form-control" name="name" ng-model="steps[$index].duration" placeholder="{{ duration }}" autocomplete="off" required>
					    </div>
					    
					    <div class="col-xs-10">
					      <textarea placeholder="Write the step here" ng-model="steps[$index].content" autocomplete="off" rows="4" cols="45" required></textarea>
					    </div>
					    
					    <div class="btn-group" role="group" aria-label="...">
					      <button ng-show="$index != 0" type="button" class="btn btn-default" aria-label="..." ng-click="del_step($index)">-</button>
					      <button ng-show="$last" type="button" class="btn btn-default" aria-label="..." ng-click="add_step()">+</button>
					    </div>
					    
					    
					  </div>
					  
					  
					</div>
				</div>



				<div class="controls">
					<button id="Submit" name="Submit" ng-click="submitForm(signUp)" class="btn btn-primary" ng-disable="novalidate">Send</button>
				</div>
				<div><span ng-show="{{stat}}" class="label label-default">{{back}}</span></div>
				<div><span ng-show="{{!stat}}" class="label label-info">{{back}}</span></div>
				<!-- <textarea>{{callBack}}</textarea> -->
			</div>
		</div>
	</form>
</div>
