
	<ng-include
		src="'partials/header.html'"
		>
	</ng-include>

	<div class="container">
	<div class="col-sm-12 col-md-offset-3 col-md-6">

		<div class="row">
			<div id="select_method" class="btn-group">
				<a href="#recipes" class="btn btn-primary" id="recipe_name">Recipe name</a>
				<a href="#ingredients" class="btn btn-primary" id="ingredient"> Ingredient</a>
				<a href="#products" class="btn btn-primary" id="product"> Product</a>
			</div>
		</div>
	</div>

	<ul class="col-xs-12" style="list-style-type:none">

		<!-- 1 RECIPE ANSWER -->
		<li>
			<h1>Product</h1>
		</li>
	</ul>

</div>
