	<ng-include
	src="'partials/header.html'"
	>
	</ng-include>

	<div class="container">
	<div class="col-sm-12 col-md-offset-3 col-md-6">

		<div class="row">
			<div id="select_method" class="btn-group">
				<a href="#recipes" class="btn btn-primary" id="recipe_name">Recipes</a>
				<a href="#ingredients" class="btn btn-primary" id="ingredient"> Ingredients</a>
				<a href="#products" class="btn btn-primary" id="product"> Products</a>
			</div>
		</div>
	</div>

	<div ng-show="loading">Loading ...</div>
	<div ng-show="!loading">
		<ul class="col-xs-12" style="list-style-type:none">

		  <li ng-repeat="e in elements" ng-include="'partials/showSearchList' + e.type + '.html'">
		  </li>

		</ul>
	</div>


	<div>{{test | json}}</div>

</div>
