	<ng-include
	src="'partials/header.html'"
	>
	</ng-include>

	<div class="container">

	<div ng-show="loading">Loading ...</div>
	<div ng-show="!loading">
		<ul class="col-xs-12" style="list-style-type:none">
		  
		  <strong>
		    <h3>
		      {{elements.length}} Results founds<span ng-show="elements.length > 0"> :</span>
		    </h3>
		  </strong>

		  <li ng-repeat="e in elements" ng-include="'partials/showSearchList' + e.type + '.html'">
		  </li>

		</ul>
	</div>


	<div>{{test | json}}</div>

</div>
