

<div class="col-xs-2">
  <a href="#/recipes/{{e.element.name_url}}">
    <img id="recipe_img" src="img/porocaramel.jpg" class="img-circle" width="80%"/>
  </a>
</div>

<div class="col-xs-10">
  <div class="col-xs-12">
    <a href="#/recipes/{{e.element.name_url}}" style="font-size:20pt;color:black;">{{e.element.name}}</a>
  </div>
  
  <div class="col-xs-3 col-sm-2">
    <span class="glyphicon glyphicon-time"></span>{{calc_time_recipe(e.element)}}
  </div>
  
  <div class="col-xs-9 col-sm-10">
    <ul style="display:inline;padding:0;list-style-type:none;">

      <li style="display:inline;margin-right:2%" ng-repeat="t in e.element.tags">
	<span class="label label-danger">{{t.name}}</span>
      </li>

    </ul>
  </div>

  <div class="col-xs-12">
    <p style="text-align:justify;">
      {{e.element.description | limitTo:258}} ...
      <a href="#/recipes/{{e.element.name_url}}">See more</a>
    </p>
  </div>

  <div class="col-xs-12">
    <label class="col-xs-3 col-sm-2">Ingredients </label>
    <div class="col-xs-9 col-sm-10">
      <ul style="display:inline;padding:0;list-style-type:none;">

	<li style="display:inline;margin-right:2%;" ng-repeat="e in e.element.ingredients" >
	  <a href="#/ingredients/{{e.name_url}}">
	    <span class="label label-info" >{{e.name}}</span>
	  </a>
	</li>

      </ul>
    </div>
  </div>

  <div class="col-xs-12">
    <label class="col-xs-3 col-sm-2">Tools </label>
    <div class="col-xs-9 col-sm-10">
      <ul style="display:inline;padding:0;list-style-type:none;">
	<li style="display:inline;margin-right:2%;" ng-repeat="tool in e.element.tools"><a href="#/tools/{{tool.name_url}}"><span class="label label-default" >{{tool.name}}</span></a></li>
      </ul>
    </div>
  </div>
</div>

