

<div class="col-xs-2">
  <a href="#/tools/{{e.element.name_url}}">
    <img id="tool_img" src="img/porocaramel.jpg" class="img-circle" width="80%"/>
  </a>
</div>




<div class="col-xs-10">

  <div class="form-group row">
    <div class="col-xs-1">
      <img id="sexe_img" src="img/glyphicons/glyphicons-296-pot.png"/>
    </div>
    <div class="col-xs-9">
      <a href="#/tools/{{e.element.name_url}}" style="font-size:20pt;color:black;">{{e.element.name}}</a>
    </div>
  </div>



  <div class="col-xs-12">
    <label class="col-xs-3 col-sm-12">INFO</label>
  </div>
  <div class="col-xs-12">
    <label class="col-xs-3 col-sm-12">INFO</label>
  </div>
  
  
</div>

